

#schedule {
    height: 100vh;
    width: 100vw;
    background-Image: url(./../assets/cutiehacklive.ai.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#schedule1 {
    height: 100vh;
    width: 100vw;
}

#schedule2 {
    height: 100vh;
    width: 100vw;
}

#schedule3 {
    height: 100vh;
    width: 100vw;
}

#schedule4 {
    height: 100vh;
    width: 100vw;
    
}

